{% extends 'base.html' %}

{% block content %}
<div class="containter p-5">
    <h2>Demographic</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset class="border rounded p-2 mt-4">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                        {{ form.patient.label_tag }}
                        {{ form.patient }}
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                        {{ form.hospital_name.label_tag }}
                        {{ form.hospital_name }}
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="border rounded p-2 mt-4" style="background-color: cadetblue;">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                        {{ form.patients_age_in_months.label_tag }}
                        {{ form.patients_age_in_months }}
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                        {{ form.patients_age_in_years.label_tag }}
                        {{ form.patients_age_in_years }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                        {{ form.gender.label_tag }}
                        {{ form.gender }}
                    </div>
                </div>
            </div>
        </fieldset>
           <fieldset class="border rounded p-2 mt-4">
               <div class="row">
                    <p>Where do you live?</p>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            {{ form.county.label_tag }}
                            {{ form.county }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            {{ form.village.label_tag }}
                            {{ form.village }}
                        </div>
                    </div>
                </div>
           </fieldset> 
            
        <div class=" d-flex justify-content-space-between p-3 g-3">
            <div class="btn">
                    <input type="submit" value="SUBMIT" class="btn btn-success">
                
            </div>
        </div>
    </form>
</div>

{% endblock %}