{% extends 'base.html' %}
    
    {% block content %}
    <div class="containter p-5">
        <h2>Risk Factors</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    {{ form.patient.label_tag }}
                    {{ form.patient }}
                </div>
            </div>
            <fieldset class="border rounded p-2 mt-4">
                <p>Does the patient have any of the medical conditions listed below as diagnosed by a cllinician?</p>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="form-group">
                            {{ form.chronic_respiratory_disease.label_tag }}
                            {{ form.chronic_respiratory_disease }}
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="form-group">
                            {{ form.neurological_disease.label_tag }}
                            {{ form.neurological_disease }}
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="form-group">
                            {{ form.cancer.label_tag }}
                            {{ form.cancer }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="form-group">
                            {{ form.prior_TB.label_tag }}
                            {{ form.prior_TB }}
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="form-group">
                            {{ form.HIV_AIDS.label_tag }}
                            {{ form.HIV_AIDS }}
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="form-group">
                            {{ form.chardiac_heart_disease.label_tag }}
                            {{ form.chardiac_heart_disease }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="form-group">
                            {{ form.malnutrition.label_tag }}
                            {{ form.malnutrition }}
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="form-group">
                            {{ form.liver_disease.label_tag }}
                            {{ form.liver_disease }}
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="form-group">
                            {{ form.renal_disease.label_tag }}
                            {{ form.renal_disease }}
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="form-group">
                            {{ form.diabetess.label_tag }}
                            {{ form.diabetess }}
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="form-group">
                            {{ form.asthma.label_tag }}
                            {{ form.asthma }}
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="form-group">
                            {{ form.newly_diagonised_TB.label_tag }}
                            {{ form.newly_diagonised_TB }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="form-group">
                            {{ form.sickle_cell.label_tag }}
                            {{ form.sickle_cell }}
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="form-group">
                            {{ form.rickets.label_tag }}
                            {{ form.rickets }}
                        </div>
                    </div>
                </div>
            </fieldset>
    
         
        
            <div class=" d-flex justify-content-space-between p-3 g-3">
                <input type="submit" value="SUBMIT" class="btn btn-success">
            </div>
        </form>
    </div>


{% endblock %}