{% extends 'base.html' %}

{% block content %}

<div class="containter p-5">
    <h2>
        Specimen Collection
    </h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group ">
            {{ form.patient.label_tag }}
            {{ form.patient }}
        </div>
        <fieldset class="border rounded p-2 mt-4">
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.specimen_collected.label_tag }}
                {{ form.specimen_collected }}
            </div>
            <div class="form-group">
                {{ form.type_of_spacimen_collected.label_tag }}
                {{ form.type_of_spacimen_collected }}
            </div>
            <div class="form-group">
                {{ form.date_of_specimen_collection.label_tag }}
                {{ form.date_of_specimen_collection }}
            </div>
        </fieldset>
        <div class=" d-flex justify-content-space-between p-3 g-3">
            <input type="submit" value="SUBMIT" class="btn btn-success">
        </div>
    </form>
</div>
{% endblock %}