body {
    background-image: url('hotel_background_image.jpg');
    /* Replace with your hotel background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Ensures that the background image does not scroll */
}

.login-form {
    max-width: 350px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.messages {
    list-style: none;
    margin: 0;
    padding: 0;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    border: none;
    /* background-color: #aca6a7; */
    color: #d61024;
}
