{% extends 'userauth/base.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}

    <!-- Custom CSS -->
     {% block static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
    {% endblock %}

{% block content %}
    <div class="container">
        <div class="login-form">
            <h2>Login</h2>
            <div class="container  rounded text-center">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                
                <div class="container p-3 mt-3">
                    <div class="row">
                        <button type="submit" class="btn btn-outline-primary">Login</button>
                    </div>
                    <div class="row mt-3">
                        <a href="" class="text-center">
                            Forgot password?
                        </a>
                    </div>
                </div>
            </form>
           
            
        </div>

        <script>
            function hideMessages() {
                setTimeout(function () {
                    var messages = document.querySelectorAll('.messages li');
                    messages.forEach(function (message) {
                        message.style.display = 'none';
                    });
                }, 3000);
            }
            window.onload = hideMessages;
        </script>

        <!-- Bootstrap JS and dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>
{% endblock %}